name: Build SDK

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build_sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup node
        uses: actions/setup-node@2951748f4c016b747952f8ca7e75fc64f2f62b53
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        working-directory: sdk
        run: |
          yarn install --frozen-lockfile

      - name: Build package
        working-directory: sdk
        run: yarn build
